<div class="container">
  <header>
    <h2>Регистрация</h2>
  </header>

  <div *ngIf="successMessage" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <div *ngIf="!passwordsMatch()" class="error-message">
    Пароли не совпадают
  </div>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form" novalidate>

    <div class="form-group">
      <label for="firstname">Имя</label>
      <input type="text" id="firstname" formControlName="firstname" placeholder="Введите ваше имя">
      <div *ngIf="isFieldInvalid('firstname')" class="error-message" id="firstnameHelp">
        <div *ngIf="registrationForm.get('firstname')?.errors?.['required']">Обязательное поле</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastname">Фамилия</label>
      <input type="text" id="lastname" formControlName="lastname" placeholder="Введите вашу фамилию">
      <div *ngIf="isFieldInvalid('lastname')" class="error-message" id="lastnameHelp">
        <div *ngIf="registrationForm.get('lastname')?.errors?.['required']">Обязательное поле</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Почта</label>
      <input type="email" id="email" formControlName="email" placeholder="Введите вашу почту">
      <div *ngIf="isFieldInvalid('email')" class="error-message" id="emailHelp">
        <div *ngIf="registrationForm.get('email')?.errors?.['required']">Обязательное поле</div>
        <div *ngIf="registrationForm.get('email')?.errors?.['email']">Неверный формат почты</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <div class="password-container">
        <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
          placeholder="Введите ваш пароль">
        <i class="toggle-password" (click)="togglePasswordVisibility()"
          [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
      </div>
      <div *ngIf="isFieldInvalid('password')" class="error-message" id="passwordHelp">
        <div *ngIf="registrationForm.get('password')?.errors?.['required']">Обязательное поле</div>
        <div *ngIf="registrationForm.get('password')?.errors?.['minlength']">Минимальная длина пароля - 6 символов</div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmedPassword">Повторите пароль</label>
      <input type="password" id="confirmedPassword" formControlName="confirmedPassword"
        placeholder="Повторите ваш пароль">
      <div *ngIf="isFieldInvalid('confirmedPassword')" class="error-message" id="confirmedPasswordHelp">
        <div *ngIf="registrationForm.get('confirmedPassword')?.errors?.['required']">Обязательное поле</div>
      </div>
    </div>

    <button type="submit" [disabled]="registrationForm.invalid" class="primary-button">Зарегистрироваться</button>

    <div class="login-link">
      <p>Уже есть аккаунт?</p>
      <a routerLink="/login" class="link">Войти</a>
    </div>
  </form>
</div>