<div class="main">
  <div class="grid-container">
    <div class="text-container">
      <h2>Следи за своими финансами вместе с Penny Guard</h2>
      <p>Твой путь к финансовому благополучию начинается здесь.</p>
      <div class="button-container">
        <button *ngIf="!isLoggedIn()" routerLink="/login">Войти</button>
        <button *ngIf="!isLoggedIn()" routerLink="/registration">Зарегистрироваться</button>
      </div>
    </div>
    <div class="image-container">
      <img src="https://i.ibb.co/p122Rb2/Group-1000002276.png" />
    </div>
  </div>
</div>

<div class="tiles-container">
  <app-card [cardData]="cardData"></app-card>
</div>