// login.component.scss

@import '../../../../styles/shared-styles.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-form {
  @include form-container; // Apply form-container mixin
  text-align: left; // Align form content to the left
  background-color: #F0F0F0; // Change background color

  header {
    margin-bottom: 20px;
  }

  .form-group {
    margin-top: var(--padding);

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      @include input-styles; // Include input styles from shared-styles.scss
    }

    .password-container {
      position: relative;
      width: 100%;
    }

    .password-container input {
      width: 100%;
      padding-right: 30px;
    }

    .password-container .toggle-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #aaa;
    }

    .password-container .toggle-password:hover {
      color: #000;
    }
  }

  button {
    @include primary-button; // Apply primary button styles from shared-styles.scss
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
  }

  .register-link {
    margin-top: var(--padding);
    text-align: center;

    p {
      margin-bottom: 5px;
    }
  }
}

@include respond-to(small) {
  .login-form {
    max-width: 350px;
  }
}

@include respond-to(medium) {
  .login-form {
    max-width: 400px;
  }
}

@include respond-to(large) {
  .login-form {
    max-width: 450px;
  }
}

@include respond-to(xlarge) {
  .login-form {
    max-width: 500px;
  }
}

@include respond-to(xxlarge) {
  .login-form {
    max-width: 550px;
  }
}