<div class="limit-container">
  <h2>{{ limit ? 'Обновить лимит' : 'Новый лимит' }}</h2>
  <form [formGroup]="limitForm" (ngSubmit)="createOrUpdate()">
    <div class="form-group">
      <label for="amount">Сумма:</label>
      <input formControlName="amount" type="number" id="amount" required placeholder="Введите сумму лимита" min="0.01">
      <div *ngIf="isFieldInvalid('amount')" class="error-message">Обязательное поле</div>
      <div *ngIf="limitForm.get('amount')?.errors?.['min']" class="error-message">Сумма должна быть больше 0</div>
    </div>

    <div class="form-group">
      <label for="salaryDay">День зарплаты:</label>
      <input formControlName="salaryDay" type="number" id="salaryDay" required placeholder="Введите день зарплаты (1-31)">
      <div *ngIf="isFieldInvalid('salaryDay')" class="error-message">Обязательное поле</div>
      <div *ngIf="limitForm.get('salaryDay')?.errors?.['min'] || limitForm.get('salaryDay')?.errors?.['max']" class="error-message">Введите число от 1 до 31</div>
    </div>

    <div class="form-group">
      <label for="categoryId">Категория:</label>
      <select formControlName="categoryId" required>
        <option value="0" disabled selected>Выберите категорию</option>
        <option *ngFor="let category of categories$ | async" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
      <div *ngIf="isFieldInvalid('categoryId')" class="error-message">
        Выберите категорию
      </div>
    </div>

    <div class="button-container">
      <button class="custom-button" type="submit">{{ limit ? 'Обновить' : 'Создать' }}</button>
    </div>
  </form>
</div>
