// Import the shared styles SCSS file
@import '../../../styles/shared-styles.scss';

.transaction-analysis-container {
    @include container-styles;
    display: flex;
    flex-direction: column;  
    align-items: center; 
    gap: 20px;
    max-width: 1200px;  
    margin: 20px auto;  
}

.transaction-analysis-container>* {
    width: 100%;  
    max-width: calc(100% - 40px);  
    position: relative;
}

.transaction-analysis-container>.long-container {
    flex-grow: 0;
    max-height: none;
}

.transaction-analysis-container>app-chart {
    position: relative;
    width: 100%;
    height: 100%;
}

.transaction-analysis-container>app-chart:last-child {
    max-width: calc(100% - 20px); 
    display: flex;
    justify-content: center;  
}

/* Media queries for responsive layouts */
@include respond-to(small) {
    .transaction-analysis-container>* {
        max-width: calc(100% - 40px);
    }
}

@include respond-to(medium) {
    .transaction-analysis-container>* {
        max-width: calc(100% - 40px);
    }
}

@include respond-to(large) {
    .transaction-analysis-container>* {
        max-width: calc(100% - 40px);
    }
}

@include respond-to(xlarge) {
    .transaction-analysis-container>* {
        max-width: calc(100% - 40px);
    }
}