<mat-toolbar color="primary">
  <!-- Left side items -->
  <div class="left-content">
    <span class="app-title">Penny Guard</span>
    <ng-container *ngIf="isLoggedIn()">
      <div class="dropdown">
        <button mat-button [matMenuTriggerFor]="transactionMenu">Transactions</button>
        <mat-menu #transactionMenu="matMenu">
          <button mat-menu-item routerLink="/transaction">Create</button>
          <button mat-menu-item routerLink="/transaction-overview">Overview</button>
          <button mat-menu-item routerLink="/transaction-chart">Chart</button>
        </mat-menu>
      </div>
      <button mat-button>Limits</button>
      <button mat-button>Reminder</button>
    </ng-container>
  </div>

  <!-- Right side items -->
  <div>
    <ng-container *ngIf="isLoggedIn()">
      <a (click)="logout()" class="user-greeting">Welcome, <span class="username">{{ getUserName() }}</span></a>
    </ng-container>
  </div>
</mat-toolbar>