<div class="card">
    <div class="custom-card-header">
        <h5>Последние лимиты по категориям</h5>
    </div>
    <div class="card-body">
        <div *ngIf="limits.length === 0" class="no-limits">
            <p class="no-limits-message">У вас еще нет лимитов.</p>
            <button class="btn btn-create-limit" (click)="navigateToCreateLimit()">Создать лимит</button>
        </div>
        <div *ngIf="limits.length > 0" class="category-limit-list">
            <div class="category-limit" *ngFor="let limit of limits">
                <p class="category-name">{{ getCategoryName(limit.categoryId) }}</p>
                <p class="limit-amount">{{ limit.amount | currency:'RUB ':'symbol' }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-link" (click)="navigateTLimits()" target="_blank">Все лимиты</a>
    </div>
</div>