<div class="chart-container">
    <canvas id="MyChart">{{ chart }}</canvas>
  </div>
  
  <div class="category-list">
    <ng-container *ngFor="let category of categoriesData">
      <ng-container *ngIf="category.totalAmount > 0"> <!-- Проверяем наличие транзакций для категории -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ category.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Процент от всей суммы: {{ category.percent | number:'1.0-0' }}%</p>
            <p>Общая сумма: {{ category.totalAmount | currency:'RUB ':'symbol':'1.0-0' }}</p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
  