@import '../styles/shared-styles.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    /* Adjust the height of the container to fill the viewport */

    .label-container {
        margin: 10px;
        text-align: center
    }

    .form-label {
        margin-bottom: 20px;
        text-align: center;
    }

    form {
        @include form-container;
        width: 100%;
        max-width: 400px;

        // reg and login
        text-align: left;
        background-color: #ffff;

        .form-group {
            margin-bottom: 15px;

            label {
                display: block;
                font-weight: bold;
                color: #333;
                padding: 8px;
                margin: 0;
            }

            input,
            select {
                @include input-styles;
                width: 100%;
                /* Make input fields full width */
            }

            .custom-checkbox {
                width: 20px;
                height: 20px;
                margin: 0;
            }

            .error-message {
                color: red;
                font-size: 14px;
            }

            .password-container {
                position: relative;
                width: 100%;
            }

            .password-container input {
                width: 100%;
                padding-right: 30px;
            }

            .password-container .toggle-password {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                color: #aaa;
            }

            .password-container .toggle-password:hover {
                color: #000;
            }
        }

        .link {
            margin-top: var(--padding);
            text-align: center;

            p {
                margin-bottom: 5px;
            }
        }

        .alert-danger {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            @include primary-button;
            padding: 10px;
            font-size: 1rem;
        }


    }

    @media (max-width: 992px) {
        form {
            max-width: 100%;
            /* Adjust maximum width for smaller screens */
        }
    }

    @media (max-width: 768px) {
        .container {
            padding: 10px;
            /* Adjust padding for smaller screens */
        }
    }

    @media (max-width: 576px) {
        .container {
            padding: 5px;
            /* Further adjust padding for smallest screens */
        }
    }
}