<nav class="navbar navbar-expand-lg">
  <div class="navbar-header">
    <a class="navbar-brand link penny-guard-label" routerLink="startpage">PennyGuard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <ng-template #notLoggedInMenu>
        <li class="nav-item">
          <a class="nav-link link" routerLink="/startpage">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" routerLink="/login">Войти</a>
        </li>
      </ng-template>
      <li class="nav-item" *ngIf="isLoggedIn(); else notLoggedInMenu">
        <a class="nav-link link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn()">
        <a class="nav-link dropdown-toggle link" href="#" id="transactionsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Транзакции
        </a>
        <div class="dropdown-menu" aria-labelledby="transactionsDropdown">
          <a class="dropdown-item link" routerLink="/transaction">Создать</a>
          <!-- <a class="dropdown-item link" routerLink="/upload">Загрузить из банка</a> -->
          <a class="dropdown-item link" routerLink="/transaction-overview">Обзор</a>
          <a class="dropdown-item link" routerLink="/app-transaction-analysis">Анализ</a>
        </div>
      </li>
      <!-- <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link link" routerLink="/notifications-overview">Напоминания</a>
      </li> -->
      <li class="nav-item dropdown" *ngIf="isLoggedIn()">
        <a class="nav-link dropdown-toggle link" href="#" id="goalsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Накопления
        </a>
        <div class="dropdown-menu" aria-labelledby="goalsDropdown">
          <a class="dropdown-item link" routerLink="/create-goal">Создать</a>
          <a class="dropdown-item link" routerLink="/financial-goal-overview">Обзор</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn()">
        <a class="nav-link dropdown-toggle link" href="#" id="categoriesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Категории
        </a>
        <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
          <a class="dropdown-item link" routerLink="/category-form">Создать</a>
          <a class="dropdown-item link" routerLink="/category-overview">Обзор</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn()">
        <a class="nav-link dropdown-toggle link" href="#" id="limitsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Лимиты
        </a>
        <div class="dropdown-menu" aria-labelledby="limitsDropdown">
          <a class="dropdown-item link" routerLink="/limit-form">Создать</a>
          <a class="dropdown-item link" routerLink="/limit-overview">Обзор</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" *ngIf="isLoggedIn()">
        <a class="nav-link dropdown-toggle link" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
          <a class="dropdown-item link" (click)="logout()">Выйти</a>
        </div>
      </li>
    </ul>
  </div>
</nav>