@import '../../../../styles/shared-styles.scss';

.navbar {
  background-color: var(--navbar-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: var(--penny-guard-font-family);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--penny-guard-label-color);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
}

.dropdown-menu {
  background-color: var(--light-gray);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 0.5rem 1rem;
  color: var(--text-color);
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: var(--tertiary-color);
  color: var(--background-color);
}

.link {
  color: var(--text-color);
  text-decoration: none;
}

.link:hover {
  color: var(--primary-color);
}

/* Responsive Design */
@include respond-to(small) {
  .navbar {
    flex-direction: row;
    align-items: center;
  }

  .navbar-menu {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: row;
    width: 100%;
  }

  .nav-item {
    margin-right: 1rem;
    width: auto;
  }
}