<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="dashboard-items">
      <div class="row single-item">
        <app-finance-card></app-finance-card>
      </div>
      <div class="row double-item">
        <app-financial-goal-card></app-financial-goal-card>
        <app-category-limits></app-category-limits>
      </div>
      <div class="row double-item">
        <app-last-transactions></app-last-transactions>
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>