<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="dashboard-items">
      <div class="row single-item">
        <balance-card></balance-card>
      </div>
      <div class="row double-item">
        <financial-goal-card></financial-goal-card>
        <category-limits-card></category-limits-card>
      </div>
      <div class="row double-item">
        <transactions-card></transactions-card>
        <doughnut-chart-card></doughnut-chart-card>
      </div>
    </div>
  </div>
</div>