.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: calc(100% - 40px);
}

.dashboard-title {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.single-item {
  justify-content: center;
}

.double-item {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.double-item>* {
  flex: 1;
  max-width: 600px;
  /* Optional: limit the max width of each card */
}

@media only screen and (max-width: 1200px) {
  .double-item {
    flex-direction: column;
    align-items: center;
  }

  .double-item>* {
    max-width: 100%;
    margin: 10px 0;
  }
}