.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #eeefee;
  border-radius: 15px;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .grid-container {
    flex-direction: column;
    min-width: 330px;
  }
}
