<div class="category-form-container">
  <h2>{{ category ? 'Обновить категорию' : 'Создать категорию' }}</h2>
  <form [formGroup]="categoryForm" (ngSubmit)="createOrUpdate()">
    <div class="form-group">
      <label for="name">Название:</label>
      <input formControlName="name" type="text" id="name" required placeholder="Введите название категории">
      <div *ngIf="isFieldInvalid('name')" class="error-message">Обязательное поле</div>
    </div>

    <div class="form-group">
      <label for="typeId">Тип:</label>
      <select formControlName="typeId" id="typeId" required>
        <option value="" disabled selected>Выберите тип</option>
        <option *ngFor="let type of transactionTypes" [value]="type.id">{{ type.type }}</option>
      </select>
      <div *ngIf="isFieldInvalid('typeId')" class="error-message">Выберите тип категории</div>
    </div>

    <div class="button-container">
      <button class="custom-button" type="submit">{{ category ? 'Обновить' : 'Создать' }}</button>
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</div>