@import '../../../styles/shared-styles.scss';

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.tile {
    flex-basis: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: #ffff;
}

.tile-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: 100%;
}

.title {
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    color: var(--text-color);
}

.content {
    flex-grow: 1;
}

.description {
    text-align: center;
    padding: 10px;
}

.image-container {
    display: flex;
    justify-content: center;

    .image {
        width: 100px;
        height: auto;
        border-radius: 8px;
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center buttons horizontally */
    justify-content: center;
    /* Center buttons vertically */
    margin-top: auto;
    /* Push buttons to the bottom */

    button {
        @include primary-button;
        max-width: 150px;
        /* Adjust the max-width as needed */
        padding: 8px 16px;
        /* Adjust padding */
        font-size: 0.9rem;
        /* Adjust font size */

        &:hover {
            filter: brightness(90%);
        }
    }
}

@media (min-width: 600px) {
    .tile {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (min-width: 900px) {
    .tile {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}