<div class="chart-responsive">
  <div class="year-selector">
    <div class="arrow-left" (click)="switchYear(displayedYear - 1)">
      <i class="bi bi-arrow-left"></i>
    </div>
    <span>{{ displayedYear }}</span>
    <div class="arrow-right" (click)="switchYear(displayedYear + 1)">
      <i class="bi bi-arrow-right"></i>
    </div>
  </div>
  <div class="chart-container">
    <div class="chart-wrapper">
      <canvas id="MyBarChart" class="chart">{{ barchart }}</canvas>
    </div>
  </div>
</div>