.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set container height to full viewport height */
  }
  
  .upload-area {
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding to prevent icon from getting cut */
    transition: all 0.3s ease;
  }
  
  .upload-area p {
    font-size: 18px;
    text-align: center;
  }
  
  button {
    margin-top: 10px;
  }
  
  @media (max-width: 600px) {
    .upload-area {
      width: 80%;
      height: 200px;
    }
  }
  