.custom-card {
  border: 1px solid #ccc;
  /* Rahmen um die Karte */
  border-radius: 8px;
  /* Abrundung der Ecken */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Schatten für die Karte */
  padding: 20px;
  /* Innenabstand der Karte */
  width: 300px;
  /* Breite der Karte */
}

.custom-card-header {
  /* Hintergrundfarbe des Headers */
  border-bottom: 1px solid #ccc;
  /* Untere Trennlinie des Headers */
  padding: 10px 0;
  /* Innenabstand des Headers */
  text-align: center;
  /* Zentrieren des Textes */
}

.custom-card-body {
  margin-top: 20px;
  /* Abstand zum Header */
}

.chart-container {
  text-align: center;
  /* Zentrieren des Inhalts */
}

.label-date-arrows {
  display: flex;
  justify-content: space-between;
  /* Platzierung der Pfeile */
  align-items: center;
  /* Zentrieren des Datums */
  margin-bottom: 10px;
  /* Abstand zwischen dem Datum und dem Inhalt */
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  /* Zeiger anzeigen, wenn auf die Pfeile gezeigt wird */
}

.chart-wrapper {
  margin-top: 20px;
  /* Abstand zum Datum */
}

.card-footer {
  text-align: center;
  /* Zentrieren des Textes im Footer */
  margin-top: 20px;
  /* Abstand zum Inhalt */
}