<div class="card">
  <div class="card-header">
    <h5>Анализ</h5>
  </div>
  <div class="card-body">
    <div class="label-arrows">
      <div class="arrow-left" (click)="previousMonth()" [class.disabled]="isPreviousDisabled()">
        <i class="bi bi-arrow-left"></i>
      </div>
      <div class="month-year">
        {{ getMonthName(displayedChartMonth) }} {{ displayedChartYear }}
      </div>
      <div class="arrow-right" (click)="nextMonth()" [class.disabled]="isNextDisabled()">
        <i class="bi bi-arrow-right"></i>
      </div>
    </div>
    
    <div *ngIf="showNoTransactionsMessage" class="no-content">
      <p class="message">В этом месяце нет трат.</p>
    </div>

    <div *ngIf="!showNoTransactionsMessage" class="chart-wrapper">
      <canvas #chartCanvas class="chart"></canvas>
    </div>

  </div>
  <div class="card-footer">
    <a class="btn btn-link" (click)="navigateToCharts()" target="_blank">Статистика</a>
  </div>
</div>