<div *ngIf="financialGoals.length === 0" class="no-goals-container">
    <p>Финансовые цели не найдены. Добавьте финансовую цель, чтобы начать отслеживание прогресса.</p>
    <button (click)="navigateToCreateGoal()">Создать финансовую цель</button>
</div>

<div *ngFor="let goal of financialGoals" class="goal-item">
    <div class="goal-label-details-container">
        <div class="goal-label">
            <h3>{{ goal.name }}</h3>
        </div>
        <div class="goal-details">
            <p>{{ goal.startDate | customDate:'dd/MM/yyyy' }} - {{ goal.endDate | customDate:'dd/MM/yyyy' }}</p>
        </div>
    </div>
    <hr class="divider">
    <div class="progress-container">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [style.width.%]="calculateProgressPercentage(goal)" aria-valuemin="0" aria-valuemax="100">
                <span class="progress-text">
                    {{ calculateProgressPercentage(goal) }}% ({{ balance | currency:'RUB ':'symbol' }} из {{
                    getTotalGoal(goal.id) | currency:'RUB ':'symbol' }})
                </span>
            </div>
        </div>
        <div class="delete-button-container">
            <button class="btn btn-danger" (click)="deleteGoal(goal.id)">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </div>
</div>