<div class="container">
  <div class="filter-container">
    <mat-form-field class="filter-field">
      <input matInput placeholder="Search ..." [formControl]="searchControl" (input)="applyFilters()">
    </mat-form-field>

    <mat-form-field class="filter-field">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="categoriesControl" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.value }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-field">
      <mat-label>Transaction Type</mat-label>
      <mat-select [formControl]="transactionTypeControl" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType.id">{{ transactionType.type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter-field">
      <input matInput type="number" min="0" placeholder="Min Amount" [formControl]="minAmountControl"
        (input)="applyFilters()">
    </mat-form-field>

    <mat-form-field class="filter-field">
      <input matInput type="number" min="0" placeholder="Max Amount" [formControl]="maxAmountControl"
        (input)="applyFilters()">
    </mat-form-field>

    <mat-form-field class="filter-field">
      <input matInput [matDatepicker]="picker" placeholder="Transaction Date" [formControl]="maxDateControl"
        (dateChange)="applyFilters()" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="transaction-container">
    <mat-card>
      <mat-card-header class="transaction-label">Transactions</mat-card-header>
      <mat-card-content>
        <form>
          <div class="transaction-list">
            <div *ngFor="let transaction of filteredTransactions" class="transaction-item">
              <div class="transaction-date">{{ transaction.date | date:'dd.MM.yyyy' }}</div>
              <div class="transaction-details">
                <div class="transaction-category">{{ transaction.categoryId }}</div>
                <div class="transaction-comment">{{ transaction.purpose }}</div>
              </div>           
              <div class="transaction-amount" [style.color]="getAmountColorByTransactionType(transaction.transactionTypeId)">
                {{ getAmountWithSignAndColor(transaction.amount, transaction.transactionTypeId) }}
              </div>
              <div>
                <button mat-icon-button color="primary" type="button" (click)="deleteTransaction(transaction.id)">
                  <mat-icon>delete</mat-icon>
                </button>  
                <button mat-icon-button color="primary" type="button" (click)="editTransaction(transaction.id)">
                  <mat-icon>edit</mat-icon>
                </button>       
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>     
  </div>
  
  

  <!-- Last 3 Transactions -->
  <h2>Last 3 Transactions</h2>
  <div *ngFor="let transaction of dataSource.data.slice(-3)">
    {{ transaction.date }} - {{ transaction.purpose }} - {{ transaction.amount }}
  </div>
</div>