<div class="container mt-4">
  <!-- Search Row -->
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input type="text" class="form-control" id="search" placeholder="Поиск ..." [(ngModel)]="selectedQuery"
          (ngModelChange)="applyFilters()">
      </div>
    </div>
  </div>

  <!-- Filter Rows -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <select id="categories" class="form-control" [(ngModel)]="selectedCategory" (change)="applyFilters()">
          <option [ngValue]="null" selected>Выбрать категорию</option>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <select id="transactionType" class="form-control" [(ngModel)]="selectedTransactionType"
          (change)="applyFilters()">
          <option [ngValue]="null" selected>Выбрать тип транзакции</option>
          <option *ngFor="let type of transactionTypes" [value]="type.id">{{ type.type }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="number" class="form-control" id="minAmount" placeholder="Минимальная сумма" [min]="0"
          [(ngModel)]="selectedMinAmount" (ngModelChange)="applyFilters()">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="number" class="form-control" id="maxAmount" placeholder="Максимальная сумма"
          [min]="selectedMinAmount" [(ngModel)]="selectedMaxAmount" (ngModelChange)="applyFilters()">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="date" class="form-control" id="minDate" placeholder="Начальная дата"
          [max]="today | date:'yyyy-MM-dd'" [(ngModel)]="selectedMinDate" (change)="applyFilters()">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="date" class="form-control" id="maxDate" placeholder="Конечная дата"
          [max]="today | date:'yyyy-MM-dd'" [(ngModel)]="selectedMaxDate" (change)="applyFilters()">
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="content">
    <div class="table-header">Транзакции</div>
    <div class="table-body">
      <div class="transaction-quantity">
        <span>Всего транзакций: {{ filteredTransactions.length }}</span>
      </div>
      <form *ngIf="filteredTransactions.length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Дата</th>
              <th>Категория</th>
              <th>Назначение</th>
              <th>Сумма</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of filteredTransactions; let i = index">
              <td>{{ transaction.createdAt | date }}</td>
              <td>{{ getCategoryName(transaction.categoryId) }}</td>
              <td>{{ transaction.purpose || "Нет данных" }}</td>
              <td [ngStyle]="{'color': getAmountColorByTransactionType(transaction.typeId)}">{{
                getAmountWithSignAndColor(transaction.amount, transaction.typeId) }}</td>
              <td>
                <div class="action-buttons">
                  <button type="button" (click)="deleteTransaction(transaction.id)">
                    <i class="fa fa-trash"></i>
                  </button>
                  <button type="button" (click)="editTransaction(transaction.id)">
                    <i class="fa fa-edit"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <div *ngIf="filteredTransactions.length === 0" class="empty-list-message">
        Нет доступных транзакций.
      </div>
    </div>
  </div>
</div>